
<div class="row">
  <%= "#{@poll.month}, #{@poll.year}" %>
</div>

<% @poll.poll_option_array.each do |movie| %>
  <div class="row">
    <%= movie[:name] %> (<%= movie[:year] %>) | Description | Vote Up
  </div>
<% end %>
